html {
  scroll-behavior: smooth;
}

#header {
  display: flex;
  align-items: center; 
  padding: 1px;
  
  width: 100%;
  flex-wrap: wrap;
}

#header-img {
  width: 50px; 
  height: auto;
}

#nav-bar {
  display: flex;
  gap: 15px;
  margin-left: 20px;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#registration{
  margin-left: 10%;
}
#about{
  background-color: beige;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
}
.video {
  width: 100%;
  height: auto;
  margin: 5%;
  border-radius: 10px;
  overflow: hidden;
 
}
button{
  background-color: yellow;
  color: red;
}
.titleLogo {
  display: flex;
  align-items: center;
}
.bike-imgs {
  display: grid;
  
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);

  

  


}
.img1 img,.img2 img, .img3 img, .img4 img,
.img5 img,
.img6 img{
  height: auto;
  width: 100%;
  border-radius: 10%;

}
.titleLogo {
  margin-left: 10%;
}
.comments{
  background-color: rgb(150,120,150);
  padding: 5%;
  width: 100%;
  border-radius: 3%;
  max-width: 100%;
}
@media (max-width: 768px) {
  

  #nav-bar {
    justify-content: center;
    width: 100%;
  }

  .heading {
    margin: 10px 0;
  }
}
footer {
  background-color: #efee;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
}
textarea {
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
#header-img {
  width: 80px;
  height: auto;
  
}

 


